In [33]:
import pandas as pd
import os
print os.getcwd()
# data_path = '/media/sf_Box_Sync/Hyperlactemia\ sepsis\ project_jinghe/Data/'
data = pd.read_csv('../../Data/iv_fluids_volumes.csv')
data.head(10)

/media/sf_Box_Sync/Hyperlactemia sepsis project_jinghe/R Codes/SpesisRecovery

,itemid,label,category,Volume
0,1503,.9% Normal Saline 250.0ml + 12500mcghr Fentanyl,IV Infusions,250
1,1533,D5W 25.0ml,IV Infusions,25
2,1535,Nepro 500.0str,IV Infusions,NaN
3,1587,Dextrose 10% 500.0ml,IV Infusions,500
4,1600,Promote w/fiber 999.0str,IV Infusions,NaN
5,1612,Nepro 999.0str,IV Infusions,NaN
6,1664,Promote w/fiber 15.0str,IV Infusions,NaN
7,1671,D5W 50.0ml + 2500mcghr Fentanyl (Conc),IV Infusions,50
8,1672,Vivonex 200.0str,IV Infusions,NaN
9,1673,Impact w/fiber 999.0str,IV Infusions,NaN

In [29]:
data_saline = data.loc[data['label'].str.contains('.9% Normal Saline')]
saline_itemids = data_saline['itemid']
saline_itemids.to_csv('saline_itemids.csv', index=False)
data_saline.head(10)

,itemid,label,category,Volume
0,1503,.9% Normal Saline 250.0ml + 12500mcghr Fentanyl,IV Infusions,250
18,211,.9% Normal Saline 100.0ml + 100Uhr Insulin,IV Infusions,100
25,220,.9% Normal Saline 250.0ml + 60mcgkgmin Neosyne...,IV Infusions,250
27,225,.9% Normal Saline 100.0ml + 100mgmin Labetolol,IV Infusions,100
28,229,.9% Normal Saline 250.0ml + 8mcgmin Levophed,IV Infusions,250
30,231,.9% Normal Saline 50.0ml + 50Uhr Insulin,IV Infusions,50
41,249,.9% Normal Saline 250.0ml,IV Infusions,250
49,269,.9% Normal Saline 250.0ml + 40mcgkgmin Neosyne...,IV Infusions,250
51,271,.9% Normal Saline 50.0ml + 100Uhr Insulin,IV Infusions,50
55,309,.9% Normal Saline 100.0ml,IV Infusions,100

In [34]:
# select the normal saline data from the fluids data
data2 = pd.read_csv('../../Data/infectdysfunc_fluids.csv')
data2_saline = data2.loc[data2['itemid'].isin(saline_itemids)]
data2_saline.to_csv('infectdysfunc_normalsaline.csv', index=False, date_format='%Y%m%d %H%M%S')

In [35]:
data2_saline.head(20)

,subject_id,hospital_seq,icustay_id,icustay_seq,charttime,itemid,volume,volumeuom
0,3,1,4,1,2682-09-07 23:00:00,134,10000.0,ml
6,3,1,4,1,2682-09-08 03:00:00,134,125.0,ml
7,3,1,4,1,2682-09-08 03:00:00,134,10.0,ml
12,3,1,4,1,2682-09-08 03:00:00,417,0.5,ml
18,3,1,4,1,2682-09-08 04:00:00,417,2.0,ml
24,3,1,4,1,2682-09-08 06:00:00,417,4.0,ml
30,3,1,4,1,2682-09-08 07:00:00,417,2.0,ml
37,3,1,4,1,2682-09-08 08:00:00,417,2.0,ml
42,3,1,4,1,2682-09-08 09:00:00,417,2.0,ml
44,3,1,4,1,2682-09-08 10:00:00,134,500.0,ml
49,3,1,4,1,2682-09-08 11:00:00,417,0.0,ml
55,3,1,4,1,2682-09-08 12:00:00,417,0.0,ml
59,3,1,4,1,2682-09-08 13:00:00,134,500.0,ml
64,3,1,4,1,2682-09-08 13:00:00,417,0.0,ml
69,3,1,4,1,2682-09-08 13:30:00,417,0.0,ml
76,3,1,4,1,2682-09-08 14:00:00,417,0.0,ml
84,3,1,4,1,2682-09-08 15:00:00,417,0.0,ml
92,3,1,4,1,2682-09-08 16:00:00,417,0.0,ml
96,3,1,4,1,2682-09-08 16:30:00,134,500.0,ml
102,3,1,4,1,2682-09-08 16:30:00,417,0.0,ml